/* Basic Portfolio HW */

* {
    box-sizing: border-box;
    max-width: 1920px;;
    margin: auto;

}

h1 h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p   {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-align: left;
    margin-right: 10px;
}

.container    {
    height: 800px;
    width: 1300px;
    position: relative;
    top: 100px;
    background: url(../images/what-the-hex/what-the-hex.png);
    
}

header  {
        background-color:#ffffff;
        margin: 0;
        padding: 0;
        width: 1320px;
        height: 80px;
        position: relative;
        border-style: solid;
        border-width: 2px;
        border-color:#cccccc;
        border-right-style: none;
        border-left-style: none;
    
}

h1  {
    color: #ffffff;
    background-color: #4aaaa5;
    width: 250px;
    padding: 21px;
    position: absolute;
    top: -3px;
    left: 270px;
    float: left;   
}

#box    {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
    float: right;
    padding: 30px;
    margin-right: 250px;

}

.vertical   {
    color: #cccccc;
}


h2  {
    background-color: #ffffff;
    color:#4aaaa5;
    float: left;
    padding: 25px;

}

hr  {
    width: 720px;
    height: 3px;
    background-color:#cccccc;
    border: none;

}

#article    {

    background-color: #ffffff;
    width: 760px;
    height: 550px;
    position: relative;
    top: 40px;
    border: solid;
    border-color: #dddddd;
    border-width: 1px;
    overflow: auto; 

}

/* Contact form */
form   {

    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin-left: 20px;
    margin-top: 20px;
    
}


footer  {
    height: 60px;
    position: relative;
    bottom: -100px;
    background-color:#777777;
    border-style: solid;
    border-width: 6px;
    border-color: #777777;
    border-top-color:#4aaaa5;
    margin-bottom: 45px;

}

#copyright  {
    color: white;
    margin-top: 35px;
    font-size: 12px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    
}

/* Styled submit button. */
input[type=submit] {
    background-color: #4aaaa5;
    padding: 10px;
    width: 80px;
    color: #ffffff;
    border: none;
 
  }

/* Style form fields */
input[type=text], select {
    width: 716px;
    padding: 5px;
    display: inline-block;
    margin: 4px 0;
    box-sizing: border-box;
}